@media (min-width: 768px) {
  nav {
    display: block !important;
  }

  nav ul {
    display: flex;
    gap: 2rem;
  }

  #menu-toggle {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  #certificate {
    grid-column: span 2;
  }
  #photo img {
    max-width: 250px;
    margin: 0;
  }
  header .logo img {
    max-width: 50px; /* slightly bigger on larger screens */
  }
}
